body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #235b88;
}
section{
    display: flex;
    justify-content: center;
}
.formContainer{
    margin: 40px 10px;
    color: #fff;
    background-color: #166137;
    width: 80%;
    padding: 18px;
    border-radius: 20px;
    box-shadow: 9px 9px #000;
    font-family: 'Courier New', Courier, monospace;
}

input, label, textarea{
    display: block;
}
label{
    margin-top: 16px;
    margin-bottom: 4px;
}
input, textarea{
    padding: 8px;
    width: 96%;
}

.button{
    display: flex;
    justify-content: center;
}
button{
    width: 200px;
    margin-top: 30px;
    padding: 6px;
    color: #fff;
    background-color: #002b3b;
    border-radius: 8px;
}