*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: "Arsenal", serif !important;background-color: #fff2c5 !important;}
nav, footer{
    background-color: #0b2358;
}
a.active{
    font-weight: bolder !important;
    background-color: #1cb8b4;
    border-radius: 16px;
}

.VidSection{
    position: relative;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.BgVid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
.overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}



.profiles a{
    font-size: 50px;
    padding: 6px;
    margin: 4px;
    padding: 5px;
    text-decoration: none;
    color: #3b3131;
}

.Pillars button{
    font-size: 25px;
}

@media screen and (max-width: 600px){.imgWelcome{width: 85vw !important;}}

.formContainer{
    margin: 40px 10px;
    color: #fff;
    background-color: #38bfb5;
    border-radius: 20px;
    font-family: "Kanit", sans-serif;
}
input, textarea{
    padding: 8px;
    width: 96%;
    border-radius: 15px;
}
.formBut{
    width: 200px;
    padding: 6px;
    color: #fff;
    background-color: #0b2358; /*#ceba05*/
    border-radius: 16px;
}


.PagesSection div:nth-child(1){
    width: 60vw;
    border-radius: 40px;
    float: left;
}
.PagesSection div:nth-child(2){
    width: 60vw;
    border-radius: 40px;
    float: right;
}
.PagesSection div:nth-child(3){
    width: 60vw;
    border-radius: 40px;
    float: left;
}
.PagesSection div div.container h3{
    text-decoration: underline overline;
}
.carousel-inner{border-radius: 45px;}
.carousel-item{
    padding: 10px;
    color: #fff;
    background-color: #0b2358;
    height: 470px;
}


a.thankYou{
    width: 160px;
    margin-top: 30px;
    margin-left: 16px;
    padding: 6px;
    background-color: #002b3b;
    border-radius: 8px;
}